**/target/
npm-debug.log
yarn-error.log
__pycache__/
.env
.venv/

frontend/node_modules/
ignore/*
frontend/src/types/*
!frontend/src/types/.gitkeep
backend/src/core/logs/*
!backend/src/core/logs/.gitkeep
backend/src/frontend/*
!backend/src/frontend/.gitkeep
openapi.json
docker/postgresql/
backend/migrations/
google_client_secret.json
