**/target/
npm-debug.log
yarn-error.log
__pycache__/
/.vscode/
.env
.venv/
/webui/.angular
/webui/node_modules/
/webui/dist/
/backend/docs/*.png
/ignore/*
/backend/shared/logs/*
/backend/server/frontend/*
!/backend/server/frontend/index.html
