**/target/
npm-debug.log
yarn-error.log
__pycache__/
.env
.venv/

node_modules/
webui/src/types/**
!webui/src/types/.gitkeep
ignore/*
backend/src/shared/logs/*
!backend/src/shared/logs/.gitkeep
backend/server/frontend/*
!backend/server/frontend/index.html
