[Unit]
Description=Arch Stats Server
After=network.target postgresql.service
Requires=postgresql.service

[Service]
Type=simple
User={{ app_name }}
Group={{ app_name }}
WorkingDirectory=/opt/{{ app_name }}
ExecStart=/opt/{{ app_name }}/{{ app_name }}
EnvironmentFile=/opt/{{ app_name }}/.env
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
