name: arch-stats

networks:
  arch-stats:
    driver: bridge

services:
  db:
    image: postgres:17.2
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    networks:
      - arch-stats
    volumes:
      - /var/run/postgresql:/var/run/postgresql
      - ./conf/postgresql.conf:/etc/postgresql/17/main/postgresql.conf
      - ./scripts/00-arch-stats.sql:/docker-entrypoint-initdb.d/00-arch-stats.sql
      - ./scripts/01-seed_playground.sql:/docker-entrypoint-initdb.d/01-seed_playground.sql
